#!/bin/sh
{{ ansible_managed | comment }}

####################################
# Tear Down Ethernet bridge on Linux
####################################

# Define Bridge Interface
br="br0"

# Define list of TAP interfaces to be bridged together
tap="{{ openvpn.server.dev|default('tap0') }}"

ifconfig $br down
brctl delbr $br

for t in $tap; do
    openvpn --rmtun --dev $t
done

ifconfig eth0 {{ openvpn.server.ip|default('ip address of vpn should be here') }} netmask {{ openvpn.server.netmask|default('255.255.255.0') }} up
route add default gw {{ openvpn.server.gateway|default('gateway of vpn should be here') }}
