#!/bin/sh
{{ ansible_managed | comment }}

#################################
# Set up Ethernet bridge on Linux
# Requires: bridge-utils
#################################

# Define Bridge Interface
br="br0"

# Define list of TAP interfaces to be bridged,
# for example tap="tap0 tap1 tap2".
tap="{{ openvpn.server.dev|default('tap0') }}"

# Define physical ethernet interface to be bridged
# with TAP interface(s) above.
eth="eth0"
eth_ip="{{ openvpn.server.ip|default('ip address of vpn should be here') }}"
eth_netmask="{{ openvpn.server.netmask|default('255.255.255.0') }}"
eth_broadcast="{{ openvpn.server.broadcast|default('broadcast of vpn should be here') }}"
gateway="{{ openvpn.server.gateway|default('gateway of vpn should be here') }}"

for t in $tap; do
    openvpn --mktun --dev $t
done

brctl addbr $br
brctl addif $br $eth

for t in $tap; do
    brctl addif $br $t
done

for t in $tap; do
    ifconfig $t 0.0.0.0 promisc up
done

ifconfig $eth 0.0.0.0 promisc up

ifconfig $br $eth_ip netmask $eth_netmask broadcast $eth_broadcast
route add default gw $gateway
