{{ ansible_managed | comment }}
#!/usr/bin/env bash
SRC="{{ openvpn.certificate.cert_path|default('/etc/openvpn/certificate') }}"
cd "$SRC"
./easyrsa --req-email="$1" build-client-full "$1"

DEST="{{ openvpn.client.generated_path|default('/root/openvpn/client') }}/$1"
if [ -d "$DEST" ]; then
  echo "Directory has already exists: $1"
  exit 1
fi

mkdir -p "$DEST"
cp "$SRC/pki/issued/$1.crt" "$DEST/$1-cert.pem"
cp "$SRC/pki/private/$1.key" "$DEST/$1-key.pem"
cp "$SRC/pki/ca.crt" "$DEST/"
cp "/etc/openvpn/server/ta.key" "$DEST/"

cat > "$DEST/$1.ovpn" <<EOF
client
dev {{ openvpn.client.dev|default('tap') }}
proto {{ openvpn.proto|default('tcp') }}
remote {{ openvpn.remote_ip }} {{ openvpn.port|default('1194') }}
tls-client
ca "C:\\\\Program Files\\\\OpenVPN\\\\config\\\\$1\\\\ca.crt"
tls-auth "C:\\\\Program Files\\\\OpenVPN\\\\config\\\\$1\\\\ta.key" 1
cert "C:\\\\Program Files\\\\OpenVPN\\\\config\\\\$1\\\\$1-cert.pem"
key "C:\\\\Program Files\\\\OpenVPN\\\\config\\\\$1\\\\$1-key.pem"
auth {{ openvpn.auth|default('SHA1') }}
cipher {{ openvpn.cipher|default('AES-256-GCM') }}
tls-cipher {{ openvpn.tls_cipher|default('TLS-DHE-RSA-WITH-AES-256-CBC-SHA') }}
# {{ openvpn.compression|default('comp-lzo') }}
auth-nocache
remote-cert-tls server
EOF