{{ ansible_managed | comment }}
port {{ openvpn.port|default('1194') }}
proto {{ openvpn.proto|default('tcp') }}
dev {{ openvpn.server.dev|default('tap0') }}
ca /etc/openvpn/certificate/pki/ca.crt
cert /etc/openvpn/certificate/pki/issued/server.crt
key /etc/openvpn/certificate/pki/private/server.key
dh /etc/openvpn/certificate/pki/dh.pem
ifconfig-pool-persist /etc/openvpn/server/ipp.txt
server-bridge {{ openvpn.server.bridge }}
keepalive 10 120
tls-auth /etc/openvpn/server/ta.key 0
tls-server

tcp-queue-limit 256

cipher {{ openvpn.cipher|default('AES-256-CBC') }}
tls-cipher {{ openvpn.tls_cipher|default('TLS-DHE-RSA-WITH-AES-256-CBC-SHA') }}
auth {{ openvpn.auth|default('SHA1') }}
# {{ openvpn.compression|default('comp-lzo') }}

{% if openvpn.link_mtu is defined %}{{ openvpn.link_mtu|default('link-mtu 1500') }}{% endif %}
{% if openvpn.tun_mtu is defined %}{{ openvpn.tun_mtu|default('tun-mtu 1500') }}{% endif %}
auth {{ openvpn.auth|default('SHA1') }}
# {{ openvpn.compression|default('comp-lzo') }}

{% if openvpn.link_mtu is defined %}{{ openvpn.link_mtu|default('link-mtu 1500') }}{% endif %}
{% if openvpn.tun_mtu is defined %}{{ openvpn.tun_mtu|default('tun-mtu 1500') }}{% endif %}
status /var/log/openvpn-status.log
log-append /var/log/openvpn.log

user nobody
group nogroup

# Script security should be 2 for running scripts.
script-security 2
up /etc/openvpn/server/bridge-start
down /etc/openvpn/server/bridge-stop

# Log levels:
# 0 - Logging is muted.
# 4 - For general use (default).
# 5 s 6 - Fixing connection issues.
# 9 - Very verbose.
verb 4
client-to-client

# Settings
push "dhcp-option DNS 192.168.16.10"
push "dhcp-option DNS 1.1.1.1"
push "route 192.168.16.0 255.255.255.0 vpn_gateway"
push "route 0.0.0.0 128.0.0.0 net_gateway"
