{{ ansible_managed | comment }}
set_var EASYRSA_PASSIN       ""
set_var EASYRSA_PASSOUT      ""
set_var EASYRSA_REQ_COUNTRY  "{{ openvpn.country | default('HU') }}"
set_var EASYRSA_REQ_PROVINCE "{{ openvpn.province | default('Budapest') }}"
set_var EASYRSA_REQ_CITY     "{{ openvpn.city | default('Budapest') }}"
set_var EASYRSA_REQ_ORG      "{{ openvpn.org | default('Acme Inc.') }}"
set_var EASYRSA_REQ_EMAIL    "{{ openvpn.email | default('info@example.com') }}"
set_var EASYRSA_REQ_OU       "{{ openvpn.ou | default('IT') }}"
set_var EASYRSA_REQ_CN       "{{ openvpn.common_name | default('') }}"
set_var EASYRSA_BATCH        "yes"
